.wrapper {
  display: flex;
  /* align-items: stretch; */
}
.dashboard {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0px;
}

.active {
  color: #fb4226 !important;
}
.nav-link {
  color: white;
}
#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  background-color: black;
}
#sidebar.active {
  margin-left: -250px;
}
a[data-toggle="collapse"] {
  position: relative;
}
.list-unstyled li a {
  color: white;
}
.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}
body {
  font-family: "Poppins", sans-serif;
  color: black;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  transition: all 0.3s;
}
.dashboard a:hover {
  background: linear-gradient(to right, #4d153c, #f5185b) right;
  color: white !important;
}

#sidebar {
  /* don't forget to add all the previously mentioned styles here too */

  color: black;
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 20px;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul p {
  color: black;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 3em;
  display: block;
}
#sidebar ul li a:hover {
  background: linear-gradient(to right, #4d153c, #f5185b) right;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: white;
  background: linear-gradient(to right, #4d153c, #f5185b) right;
}
ul ul a {
  font-size: 25px !important;
  padding-left: 30px !important;
  background: black;
  font-weight: 600;
}
